<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body>
    <main class="container-fluid bg-light p-0">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" style="background-color:yellow; color:black;" href="/Ogrenci/Index"><b> FromTheOwner.com </b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="background-color:yellow; color:black;" href="/Ogrenci/Index">Residential<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="background-color:yellow; color:black;margin-left:8px" href="/Ogretmen/Index">Land</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="background-color: yellow; color: black; margin-left: 8px" href="/Ogretmen/Index">Commercial</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="@ViewBag.AraAdres" method="post">
                    <input name="arananKelime" class="form-control mr-sm-3" type="search" placeholder="Advanced Search" aria-label="Search">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color:white;margin-left:100px;" href="/Ogrenci/Index">Sign In |<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" style="color:white" href="/Ogrenci/Index"> Sign Up<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <button class="btn btn-outline-warning my-2 my-sm-0" href="/AdvertResidential/Create" style="background-color:blue;color:white;margin-right:15px" type="submit">Post Free Ad*</button>

            </div>
        </nav>

          
        @RenderBody()
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-1.9.1.intellisense.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>