@model RealEstate.Models.AdvertResidential

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>AdvertResidential</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Explaination)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Explaination)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.Square)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.Square)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.FloorNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.FloorNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.Heating)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.Heating)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.Balcony)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.Balcony)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.RealEstate.Furnished)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RealEstate.Furnished)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.FullName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>


        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
