@model RealEstate.Models.AdvertResidential

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details</h2>

<div>

    <hr />
    <main>

        <div class="row container-md text-center m-auto">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Date)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Date)
                </span>
            </div>

        </div>

        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.AdvertType)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.AdvertType)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.IsActive)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.IsActive)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.UserId)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.UserId)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Title)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Title)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.Explaination)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.Explaination)
                </span>
            </div>

        </div>
        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.RealEstate.Msquare)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.RealEstate.Msquare)
                </span>
            </div>

        </div>

        <div class="row container-md text-center m-auto mt-2">

            <div class="col-3 border border-dark">
                <span>
                    @Html.DisplayNameFor(model => model.RealEstate.FloorNumber)
                </span>
            </div>

            <div class="col-6 border border-dark text-start">
                <span>
                    @Html.DisplayFor(model => model.RealEstate.FloorNumber)
                </span>
            </div>

        </div>

<div class="row container-md text-center m-auto mt-2">

    <div class="col-3 border border-dark">
        <span>
            @Html.DisplayNameFor(model => model.RealEstate.Balcony)
        </span>
    </div>

    <div class="col-6 border border-dark text-start">
        <span>
            @Html.DisplayFor(model => model.RealEstate.Balcony)
        </span>
    </div>

</div>
<div class="row container-md text-center m-auto mt-2">

    <div class="col-3 border border-dark">
        <span>
            @Html.DisplayNameFor(model => model.RealEstate.Furnished)
        </span>
    </div>

    <div class="col-6 border border-dark text-start">
        <span>
            @Html.DisplayFor(model => model.RealEstate.Furnished)
        </span>
    </div>

</div>
<div class="row container-md text-center m-auto mt-2">

    <div class="col-3 border border-dark">
        <span>
            @Html.DisplayNameFor(model => model.RealEstate.AddressID)
        </span>
    </div>

    <div class="col-6 border border-dark text-start text-start">
        <span>
            @Html.DisplayFor(model => model.RealEstate.AddressID)
        </span>
    </div>

</div>


    </main>

<hr />
<hr />

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdvertiseId }) |
    @Html.ActionLink("Back to List", "Index")
</p>