@model IEnumerable<RealEstate.Models.ViewModels.AdverticeViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create", new { }, new { @class = "btn btn-success" })
    </p>



    <table class="table">
        <tr>
           
               
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Explaination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Msquare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balcony)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Furnished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdvertType)
            </th>



            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    <b>   @Html.DisplayFor(modelItem => item.Title)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Explaination)
                </td>
                <td>
                    <b>  @Html.DisplayFor(modelItem => item.Msquare)</b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Balcony)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Furnished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdvertType)
                </td>




                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ResidentialId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ResidentialId }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ResidentialId }, new { @class = "btn btn-warning" })
                </td>
            </tr>
        }

    </table>
</body>
</html>